  .line_1 {
    margin-top: 50px;
    height: 400px;
    width: inherit;
    margin-left: 50px;
    margin-right: 50px
}
  .line-1-content {
     height: 20px
}
  .this-el-row {
    height: 50%;
}
  .div-head{
    float: left;
    margin-left: 30px;
    margin-top: 10px;
}
