
   .background{
    background-image: url("../img/Login.jpg");
    background-size: 50% 60%; /* 背景图片的宽度和高度都将缩小到原来的50% */
    background-position: 50% 100%; /* 使背景图片水平居中并位于底部 */
    background-repeat: no-repeat; /* 防止背景图片重复 */
  }
  .head{
    text-align: center;
    margin-top: 1px;
    font-size: 30px;
    font-family: '华文仿宋', serif;
  }
  .register_block{
    border-radius: 10px;
    margin: 150px auto;
    width: 350px;
    padding: 30px 35px 15px 35px;
    background: #fff;
    border: 1px solid #eaeaea;
    text-align: left;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
    opacity: 0.8; /* 设置元素的透明度为50% */
  }
  .register_head{
    text-align: center;
    font-family: "微软雅黑", serif;
    color: black;
    font-size: 30px;
  }
  #register-n, #register-name, #register-password, #confirm-password{
    padding-left: 10%;
  }
  .confirm-button, .register-button, .return-button{
    margin-top: 15px;
    padding-left: 10%;
  }
  .inputs{
    width: 90%;
    height: 20px;
    border: none;
  }
  #button_in, #button_re{
    width: 90%;
  }
  .return-text{
    margin-top: 10px;
    text-align: center;
  }
